%body
  .sideBar
    = render partial: 'sideBar'
  .mainContent
    .mainHeader
      .mainHeader__rightBox
        %h2.mainHeader__rightBox__groupName
          = @group.name
        %h4.mainHeader__rightBox__groupMember
          = @group.users[1].nickname
      = link_to new_group_path do
        .mainHeader__editButton
          EDIT
    .mainMessageLender
      = render @messages 
    .mainForm
      .mainForm__box
        .mainForm__box__innerBox
          = form_for [@group, @message] do |f|
            = f.text_field :text, placeholder: 'input your message' 
            = f.label :image, class: 'mainForm__box__innerBox__message__image' do
              %i.upload_picture.fa.fa-picture-o.fa-lg
              = f.file_field :image, class: 'hidden'
            = f.submit "send", class: "mainForm__box__innerBox__button"



            