!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Chat Space
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag 'application', "data-turbolinks-track": 'reload'
    -# Reference for myself https://ruby-rails.hatenadiary.com/entry/20141001/1412097051
  %body
    .sideBar
      = render :partial => 'sideBar'
    .mainContent
      .mainHeader
        .mainHeader__rightBox
          %h2{class: "mainHeader__rightBox__groupName"}
            group hoge
          %h4{class: "mainHeader__rightBox__groupMember"}
            name: hogehoge, hogeee, hogege, hogee
        .mainHeader__editButton
          EDIT
      .mainMessageLender
        .mainMessageLender__upperBox
          %p{class: "mainMessageLender__upperBox__nameBox"}
            jack
          %p{class: "mainMessageLender__upperBox__timestamp"}
            1993/5/2 20:31
        .mainMessageLender__messageBox
          this is my message
      .mainForm
        .mainForm__box
          .mainForm__box__innerBox
            = form_for(@message) do |f|
              = f.text_field :text, placeholder: 'input your message' 
              %label.mainForm__box__innerBox__message__image
                %i.upload_picture.fa.fa-picture-o.fa-lg
                %input.hidden{type: 'file'}
              = f.submit "send",{class: "mainForm__box__innerBox__button"}

