%body
  .sideBar
    = render partial: 'sideBar'
  .mainContent
    .mainHeader
      .mainHeader__rightBox
        %h2.mainHeader__rightBox__groupName
          group hoge
        %h4.mainHeader__rightBox__groupMember
          name: hogehoge, hogeee, hogege, hogee
      = link_to new_group_path do
        .mainHeader__editButton
          EDIT
    .mainMessageLender
      .mainMessageLender__upperBox
        %p.mainMessageLender__upperBox__nameBox
          jack
        %p.mainMessageLender__upperBox__timestamp
          1993/5/2 20:31
      .mainMessageLender__messageBox
        this is my message
    .mainForm
      .mainForm__box
        .mainForm__box__innerBox
          = form_for[@group, @message] do |f|
            = f.text_field :text, placeholder: 'input your message' 
            %label.mainForm__box__innerBox__message__image
              %i.upload_picture.fa.fa-picture-o.fa-lg
              %input.hidden{type: 'file'}
            = f.submit "send",{class: "mainForm__box__innerBox__button"}
